// load the base configuration
//exec default.cfg

// Setup custom controller
exec joystick.cfg

// fix sprays
exec config.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds